
<br><br><br><br><br><br><br><br><br><br>
<center>Copyright (c) LJ Pilipenko</center>

<!-- html and rails code examples from _navbar.html.erb
    html: <a href="home/about">About Me</a>
    <%= link_to "About me", home_about_path %>
    <%= link_to "Home", root_path %> -->
