<h2>About Me</h2>
<p>Hello!  This software was created for Mr. John Elder's beginnning Ruby/Rails class on Udemy.  Some parts are more elegant than others.

It's especially fussy about Stock Ticker Symbols.  When you add a stock to the list, I recommend you use a correct symbol and the caps lock key.

The data is gleaned from the Investor Exchange, LLC's IEX Cloud site.  It's slow, be patient.<br/>
</p>