<h2>About Me</h2>
<br/>
<p>Hello!  This software was created for Mr. John Elder's beginnning Ruby/Rails class on Udemy.
<br/>Some parts are more elegant than others.
<br/><br/>
It's especially fussy about Stock Ticker Symbols.  When you add a stock to the list,
<br/>I recommend you use a correct symbol and the caps lock key.
<br/><br/>
The data is gleaned from the Investor Exchange LLC's IEX Cloud site.
<br/>It's slow, be patient.<br/>
</p>